// Main styles
$primary-color: #fcaf32;
$secondary-color: #fc888e;

html,
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background: linear-gradient(-45deg, $primary-color 0%, $secondary-color 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

.btn-main {
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: 'Lobster', cursive;
  font-size: 2.6rem;
  height: 3.7rem;
  outline: none;
  padding: 0 1.35rem;
  transition: transform .5s ease;

  &:hover {
    transform: scale(1.15);
  }
}

.login-confirmation {
  font-family: 'Lobster', cursive;
  font-size: 2.6rem;
}

.popup {
  background: linear-gradient(-45deg, $primary-color 0%, $secondary-color 100%);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;

  form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-width: 25vw;
    height: 60vh;
    background-color: white;
    padding: 1rem 0;
    position: relative;
    .cancel {
      font-size: 0.8rem;
      margin: 0 auto;
      border-radius: 45%;
      position: absolute;
      background-color: black;
      border: 1px solid black;
      color: white;
      font-weight: 700;
      top: -4px;
      right: -4px;
      outline:none;
    }

    .login-formHeader {
      font-family: 'Lobster', cursive;
      font-size: 2rem;
      margin: 0 auto;
    }

    .login-formControl {
      width: 70%;
      .login-formControl__input {
        width: 90%;
        line-height: 2rem;
        padding-left: 0.70rem;
        outline: none;
        &.input-error {
          border: 1px solid red;

          &:focus {
            border: 1px solid red;
          }
        }
      }
      .login-button {
        width: 100%;
        padding-left: 0.70rem;
        margin: 0;
        line-height: 2rem;
        background-color: black;
        border: 1px solid black;
        color: white;
        outline:none;
        &:hover {
          background-color: $secondary-color;
          border: 1px solid $secondary-color;
        }
      }
    }
    .login-checkbox {
      line-height: 1rem;
      width: 70%;
      input[type=checkbox] {
        position: relative;
        cursor: pointer;
      }
      input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        top: 0;
        left: 0;
        border: 1px solid black;
        background-color: white;
      }
      input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 5px;
        height: 10px;
        border: solid black;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        left: 4px;
      }
      label {
        //padding-left: 0.5rem;
        font-size: 0.7rem;
      }
    }
  }
}
.error{
  height: 0.1rem;
  color: red;
  font-size: 0.5rem;
}
.hidden {
  display: none;
}

@media (max-width: 940px) {
  .popup {
    form {
      .login-checkbox {
        label {
          font-size: 0.6rem;
        }
      }
    }
  }
}

@media (max-width: 840px) {
  .popup {
    form {
      .login-checkbox {
        label {
          font-size: 0.5rem;
        }
      }
    }
  }
}